{% extends 'base.html' %}
{% block header %}
<meta charset="utf-8" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<div class="formwrapper">
  <div
    style="display:block; width:fit-content; clear:both; float:none;min-height:50px; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:30px">
    <div style="float:left;"><a class="greenbutton" style="background-color:steelblue;  margin-left:10px;"
        href="{{ url_for('manager.bar_chart')}}">Most booked cars</a></div>
    <div style="float:left;"><a class="greenbutton" style="margin-left:120px;"
        href="{{ url_for('manager.line_chart')}}">Profit by date</a></div>
    <div style="float:left;"><a class="greenbutton" style="margin-left:120px;"
        href="{{ url_for('manager.pie_chart')}}">Most repaired cars</a></div>
  </div>
</div>
<div>
  <center>
    <canvas id="chart" width="600" height="400" onload=""></canvas>
    <script>

      // bar chart data
      var barData = {
        labels: [
          {% for item in data %}
          "{{ item['CarID'] }}",
          {% endfor %}
        ],
        datasets: [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data: [
            {% for item in data %}
                {{ item["Total"] }},
            {% endfor %}
          ]
        }]
      }

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}

      // draw bar chart
      new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines: true,
        barShowStroke: true,
        scaleShowLabels: true,
        scaleShowLabels: true
      }
      );
    </script>
  </center>
</div>
{% endblock %}
