{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Manage Cars</h2>
  <form method="POST" action="/admin/admincars">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field" style="float:left;">{{ form.brand.label }} {{ form.brand(size=20) }}</div>
      <div class="form-field" style="float:left;">{{ form.car_type.label }} {{ form.car_type }}</div>
      <div class="form-field">{{ form.cost.label }} {{ form.cost }}</div>
</div>
<div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field">{{ form.color.label }} {{ form.color }}</div>
      <div class="form-field">{{ form.seat.label }} {{ form.seat }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none;">
      
      <div style="display:block; width:100%; clear:both; float:none; min-height:50px; padding-top:10px;">
      <div class="form-submit"> 
        {{ form.submit }} 
        <a class="greenbutton" style="margin-left:20px;" href="{{ url_for('admin.create') }}">Add New</a>
      </div>
      </div>
     
  </form>
</div>
<p>Showing results</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Type</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Location</th>
    <th>Status</th>
    <th>History</th>
    <th style="border-top-right-radius: 8px;">Edit</th>
  </tr>
  {% for car in cars %}
  <tr>
  <td>{{ car['Type'] }}</td>
  <td>{{ car['Brand'] }}</td>
  <td>{{ car['Color'] }}</td>
  <td>{{ car['Address'] }}</td>
  <td>{{ car['Status'] }}</td>
<td style="max-width:40px;">
          <a class="greenbutton" style="margin-left: 25px;" href="{{ url_for('admin.carbookings', id=car['ID']) }}">History</a>
</td>
    <td style="max-width:40px;">
          <a class="greenbutton" style="margin-left: 45px;" href="{{ url_for('admin.update', id=car['ID']) }}">Edit</a>
</td>
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
