{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Car{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="create">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
    <div class="form-field" style="float:left;"> {{ form.mac_address.label }} {{ form.mac_address }}</div>
    <div class="form-field" style="float:left;"> {{ form.brand.label }} {{ form.brand }}</div>
    <div class="form-field" style="float:left;">{{ form.car_type.label }} {{ form.car_type }}</div>
    <div class="form-field" style="float:left;">{{ form.color.label }} {{ form.color }}</div>
    </div>
 <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">   
    <div class="form-field" style="float:left;">{{ form.seat.label }} {{ form.seat }}</div>
    
    <div class="form-field" style="float:left;">{{ form.location_id.label }} {{ form.location_id }}</div>
    
    <div class="form-field" style="float:left;">{{ form.cost.label }} {{ form.cost }}</div>
    
    </div>
    <div class="form-submit"> {{ form.submit }} </div>
  </form>
{% endblock %}
