{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Car ID {{ car[0]["ID"] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="update">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
    <div class="form-field" style="float:left;"> {{ form.mac_address.label }} {{ form.mac_address }}</div>
    <div class="form-field" style="float:left;"> {{ form.brand.label }} {{ form.brand }}</div>
    <div class="form-field" style="float:left;">{{ form.car_type.label }} {{ form.car_type }}</div>
    <div class="form-field" style="float:left;">{{ form.color.label }} {{ form.color }}</div>
    </div>
 <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">   
    <div class="form-field" style="float:left;">{{ form.seat.label }} {{ form.seat }}</div>
    
    <div class="form-field" style="float:left;">{{ form.location_id.label }} {{ form.location_id }}</div>
    
    <div class="form-field" style="float:left;">{{ form.cost.label }} {{ form.cost }}</div>
    
    </div>
    <div class="form-submit"> {{ form.submit }} </div>
  </form>

<div style="width:100%; display:block; height:40px;">
  <form style="float:right; margin-top:-65px;" action="{{ url_for('admin.delete', id=car[0]['ID']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  <a class="greenbutton" style="float:right; margin-top:-65px; padding-right:30px;" href="{{ url_for('admin.report', id=car[0]['ID']) }}">Report</a>  
  <div>
{% endblock %}
