{% extends 'base.html' %}

{% block scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Dashboard</h2>
  <div style="display:block; width:600px; clear:both; float:none;min-height:50px; margin-left:auto; margin-right:auto;">
      <div style="float:left;"><a class="greenbutton" style="margin-left:10px;" href="/manager?graph=barchart">Bar Chart</a></div>
      <div style="float:left;"><a class="greenbutton" style="margin-left:120px;" href="/manager?graph=linechart">Line Chart</a></div>
      <div><a class="greenbutton" style="margin-left:120px;" href="/manager?graph=piechart">Pie Chart</a></div>
</div>

</div>
<center>
<p>Name of Line Chart</p>
    <canvas style="border: 1px black solid;" id="chart" width="600" height="400"></canvas>
    <script>

      // line chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>
  </center>



{% endblock %}


