{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Manage Cars</h2>
  <form method="POST" action="/admincars">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field" style="float:left;">{{ form.make.label }} {{ form.make(size=20) }}</div>
      <div class="form-field" style="float:left;">{{ form.body.label }} {{ form.body }}</div>
      <div class="form-field">{{ form.cost.label }} {{ form.cost }}</div>
</div>
<div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field">{{ form.colour.label }} {{ form.colour }}</div>
      <div class="form-field">{{ form.seats.label }} {{ form.seats }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none;">
      
      <div class="form-field">{{ form.status.label }} {{ form.status() }}</div>
      <div class="form-field">{{ form.location.label }} {{ form.location() }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none; min-height:50px; padding-top:10px;">
      <div class="form-submit"> {{ form.submit }}  {% if g.user %}
    <a class="greenbutton" style="margin-left:20px;" href="{{ url_for('blog.create') }}">Add New</a>
  {% endif %}</div>
      </div>
     
  </form>
</div>
<p>Showing results 1 - {{cars|length}}</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Car ID</th>
    <th>Make</th>
    <th>Colour</th>
    <th>Location</th>
    <th>Status</th>
    <th>History</th>
    <th style="border-top-right-radius: 8px;">Edit</th>
  </tr>
  {% for car in cars %}
  <tr>
  <td>{{ car['id'] }}</td>
  <td>{{ car['make'] }}</td>
    <td>{{ car['colour'] }}</td>
    <td>{{ car['location'] }}</td>
    <td>{{ car['status'] }}</td>
<td style="max-width:40px;">
          <a class="greenbutton" style="margin-left: 25px;" href="{{ url_for('blog.carbookings', id=car['id']) }}">History</a>
</td>
    <td style="max-width:40px;">
          <a class="greenbutton" style="margin-left: 45px;" href="{{ url_for('blog.update', id=car['id']) }}">Edit</a>
</td>
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
