{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="report">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
    <div class="form-field" style="float:left;"> {{ form.engineer_ID.label }} {{ form.engineer_ID }}</div>
    <div class="form-field" style="float:left;"> {{ form.date.label }} {{ form.date }}</div>
    </div>
    <div class="form-submit"> {{ form.submit }} </div>
  </form>
{% endblock %}
