{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Manage my Bookings</h2>
  <form method="POST" action="/">
      <div style="display:block; width:100%; clear:both; float:none;">
      <div class="form-field">{{ form.start.label }} {{ form.start() }}</div>
      <div class="form-field">{{ form.end.label }} {{ form.end() }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none; min-height:50px; padding-top:10px;">
      <div class="form-submit"> {{ form.submit }} </div>
      </div>
     
  </form>
</div>

    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Date</th>
    <th>Car ID</th>
    <th>Make</th>
    <th>Colour</th>
    <th>Duration</th>
    <th>Status</th>
    <th style="border-top-right-radius: 8px;">Action</th>
  </tr>
  {% for booking in bookings %}
  <tr>
  <td>(date here)</td>
  <td>(car ID here)</td>
    <td>{{ booking['make'] }}</td>
    <td>{{ booking['colour'] }}</td>
    <td>(duration here)</td>
    <td>(status here)</td>
    <td style="max-width:40px;">
          <a class="greenbutton" style="margin-left: 5px;" href="{{ url_for('blog.update', id=booking['id']) }}">Cancel</a>
</td>
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
