{% extends 'base.html' %}

{% block header %}

 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Confirm Booking</h2>

  <div style="display:block; width:100%; clear:both; float:none;height:30px;">
  <div style="width:300px; float:left;"><strong>Car Type:</strong></div>
  <div style="width:300px; float:left;">Make: {{ car[2] }}</div>
  <div style="width:300px; float:left;">Body: {{ car[3] }}</div>
</div>
<hr>
  <div style="display:block; width:100%; clear:both; float:none;height:30px;">
  <div style="width:300px; float:left;"><strong>Car Details:</strong></div>
  <div style="width:300px; float:left;">Colour: {{ car[6] }}</div>
  <div style="width:300px; float:left;">Number of Seats: {{ car[7] }}</div>
</div>
<hr>
  <div style="display:block; width:100%; clear:both; float:none;height:30px;">
  <div style="width:300px; float:left;"><strong>Booking Schedule:</strong></div>
  <div style="width:300px; float:left;">{{ datestart }}</div>
  <div style="width:300px; float:left;">{{ dateend }}</div>
</div>
<hr>
 <div style="display:block; width:100%; clear:both; float:none;height:30px;">
  <div style="width:300px; float:left;"><strong>Cost Summary:</strong></div>
  <div style="width:300px; float:left;">Hourly Cost: {{ car[8] }}</div>
  <div style="width:300px; float:left;"></div>Estimated Total: {{ total }}</div>
</div>
<hr>
<p>*** You will receive a Google Calendar notification once your booking is confirmed.</p>

<a class="greenbutton" style="margin-top: 10px;" href="{{ url_for('blog.updateBooking', id=car['id'], action='confirm') }}">Confirm Booking</a>
<a class="greenbutton danger" style="margin-top: 10px; float:right;" href="{{ url_for('blog.updateBooking', id=car['id'], action='cancel') }}">Cancel Booking</a>

</div>

    
     
{% endblock %}
