{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="/create">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
    <div class="form-field" style="float:left;"> {{ form.mac_address.label }} {{ form.mac_address }}</div>
    <div class="form-field" style="float:left;"> {{ form.make.label }} {{ form.make }}</div>
    <div class="form-field" style="float:left;">{{ form.body.label }} {{ form.body }}</div>
    <div class="form-field" style="float:left;">{{ form.colour.label }} {{ form.colour }}</div>
    </div>
 <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">   
    <div class="form-field" style="float:left;">{{ form.seats.label }} {{ form.seats }}</div>
    
    <div class="form-field" style="float:left;">{{ form.location.label }} {{ form.location }}</div>
    
    <div class="form-field" style="float:left;">{{ form.cost.label }} {{ form.cost }}</div>
    
    </div>
    <div class="form-submit"> {{ form.submit }} </div>
  </form>
{% endblock %}
