{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

</div>
<p>Showing results 1 - {{cars|length}}</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Car ID</th>
    <th>Location</th>
    <th>Request Date</th>
    <th>Status</th>
    <th style="border-top-right-radius: 8px;">Action</th>
  </tr>
  {% for car in cars %}
  <tr>
  <td>{{ car[0] }}</td>
  <td>{{ car[1] }}</td>
  <td>{{ car[2] }}</td>
  <td>{{ car[3] }}</td>
<td style="max-width:40px;">{% if car[3] == "Not done" %}
          <form style="margin:0px;" action="{{ url_for('blog.repair', id=car[0]) }}" method="post">
    <input style="margin:0px;" class="warning" type="submit" value="Repair" onclick="return confirm('Are you sure you want to mark this car as repaired?');">
    </form>
          {% endif %}
</td>
 
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
