{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

</div>
<p>Showing results 1 - {{cars|length}}</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Car ID</th>
    <th>Make</th>
    <th>Body</th>
    <th>Location</th>
    <th>Status</th>
    <th style="border-top-right-radius: 8px;">Action</th>
  </tr>
  {% for car in cars %}
  <tr>
  <td>{{ car['id'] }}</td>
  <td>{{ car['make'] }}</td>
  <td>{{ car['body'] }}</td>
    <td><form style="margin:0px;" action="{{ url_for('blog.location', id=car['id']) }}" method="post">
    <input style="margin:0px;" class="greenbutton" type="submit" value="View Location">
    </form></td>
    <td>{{ car['status'] }}</td>
<td style="max-width:40px;">{% if car.status == "Repair" %}
          <form style="margin:0px;" action="{{ url_for('blog.fix', id=car['id']) }}" method="post">
    <input style="margin:0px;" class="warning" type="submit" value="Repair" onclick="return confirm('Are you sure you want to mark this car as repaired?');">
    </form>
          {% endif %}
</td>
 
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
