{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

</div>
<p>Showing results</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Car ID</th>
    <th>Rent Time</th>
    <th>Return Time</th>
    <th>Status</th>
  </tr>
  {% for record in history %}
  <tr>
  <td>{{ record["ID"] }}</td>
  <td>{{ record["RentTime"] }}</td>
  <td>{{ record["ReturnTime"] }}</td>
  <td>{{ record["Status"] }}</td> 
  </tr>  
  {% endfor %}
  </table> 
  <div style="width:100%; display:block; height:40px;">
  <a class="greenbutton danger" style="margin-top: 10px; float:right;" href="{{ url_for('blog.admincars') }}">Back</a>
  </div>
{% endblock %}
