{% extends 'base.html' %}





{% block header %}
 
{% endblock %}



{% block content %}

<div class="formwrapper">
  <h2 class="title">Search for a Car</h2>
  <form method="POST" action="/">
  <div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field" style="float:left;">{{ form.make.label }} {{ form.make }}</div>
      <div class="form-field" style="float:left;">{{ form.body.label }} {{ form.body }}</div>
      <div class="form-field">{{ form.cost.label }} {{ form.cost }}</div>
</div>
<div style="display:block; width:100%; clear:both; float:none;min-height:50px;">
      <div class="form-field">{{ form.colour.label }} {{ form.colour }}</div>
      <div class="form-field">{{ form.seats.label }} {{ form.seats }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none;">
      
      <div class="form-field">{{ form.start.label }} {{ form.start() }}</div>
      <div class="form-field">{{ form.end.label }} {{ form.end() }}</div>
      </div>
      <div style="display:block; width:100%; clear:both; float:none; min-height:50px; padding-top:10px;">
      <div class="form-submit"> {{ form.submit }}  {% if g.type == "Admin" %}
    <a class="greenbutton" style="margin-left:20px;" href="{{ url_for('blog.create') }}">Add New</a>
  {% endif %}</div>
      </div>
     
  </form>
</div>
<p>Showing results</p>
    
     <table>
  <tr>
    <th style="border-top-left-radius: 8px;">Brand</th>
    <th>Type</th>
    <th>Color</th>
    <th>Seat</th>
    <th>Location</th>
    <th>Hourly Cost</th>
    <th style="border-top-right-radius: 8px;">Action</th>
  </tr>
  {% for car in cars %}
  <tr>
  <td>{{ car["Brand"] }}</td>
  <td>{{ car["Type"] }}</td>
  <td>{{ car["Color"] }}</td>
  <td>{{ car["Seat"] }}</td>
  <td>{{ car["Address"] }}</td>
  <td>{{ car["Cost"] }}</td>
  <td style="max-width:40px;">
    <a class="greenbutton" style="margin-left: 5px;" href="{{ url_for('blog.confirm', ID=car['ID'],datestart=datestart,dateend=dateend) }}">Book now</a>
</td>
  </tr>
  
  {% endfor %}
  </table> 
{% endblock %}
