{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block header %}

 
{% endblock %}



{% block content %}

</div>
<p>Pick a graph</p>
    
<table>
  <tr>
    <th style="border-top-left-radius: 8px;">Graph Name</th>
    <th>Graph Type</th>
    <th>Show Graph</th>
  </tr>
  <tr>
    <td style="border-top-left-radius: 8px;">Profit by date</td>
    <td>Line</td>
    <td><a class="greenbutton" style="margin-left:20px;" href="http://127.0.0.1:8080/graphs/profit/by/date">View Graph</a></td>
  </tr>
  <tr>
    <td style="border-top-left-radius: 8px;">Most booked cars</td>
    <td>Bar</td>
    <td><a class="greenbutton" style="margin-left:20px;" href="http://127.0.0.1:8080/graphs/most/booked/cars">View Graph</a></td>
  </tr>
  <tr>
    <td style="border-top-left-radius: 8px;">Most repaired cars</td>
    <td>Pie</td>
    <td><a class="greenbutton" style="margin-left:20px;" href="http://127.0.0.1:8080/graphs/most/repaired/cars">View Graph</a></td>
  </tr>
</table> 
{% endblock %}
