{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ car['make'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
    <label for="make">Make</label>
    <input name="make" id="make"> {{ request.form['make'] }}</input>
    <label for="body">Body</label>
    <input name="body" id="body">{{ request.form['body'] }}</input>
    
    <label for="colour">Colour</label>
    <input name="colour" id="colour">{{ request.form['colour'] }}</input>
    
    <label for="seats">Seats</label>
    <input name="seats" id="seats">{{ request.form['seats'] }}</input>
    
    <label for="location">Location</label>
    <input name="location" id="location">{{ request.form['location'] }}</input>
    
    <label for="cost">Cost</label>
    <input name="cost" id="cost">{{ request.form['cost'] }}</input>
    
    
    <input type="submit" value="Save">
  </form>

  <form action="{{ url_for('blog.delete', id=car['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
